{% extends 'base.twig' %}

{% block title %}
ver
{% endblock %}

{% block content %}
<ul class="breadcrumb">
	<li>
		<a href="index.php">Home</a> <span class="divider"></span>
	</li>
	<li class="active">
		<a href="listagem.php">Listagem</a> <span class="divider"></span>
	</li>
</ul>
<div class="page-header">
	
	<h2>Ver usuário</h2>
						
    	<dl class="dl-horizontal">
			<dt>Nome</dt>
			<dd>{{ marcas.Nome }}</dd>
		</dl>
						
		<dl class="dl-horizontal">
			<dt>Origem</dt>
			<dd>{{ marcas.Origem }}</dd>
		</dl>
		
		<dl class="dl-horizontal">
			<dt>Presidente</dt>
			<dd>{{ marcas.Presidente }}</dd>
		</dl>

        <dl class="dl-horizontal">
			<dt>Fundação</dt>
			<dd>{{ marcas.Fundacao }}</dd>
		</dl>
		
		<div class="form-group text-center">
			<div class="col-md-8" >
				<a href="listagem.php" class="btn btn-default">Voltar</a>
			</div>
		</div>
						
</div> <!-- class="page header" -->
{% endblock %}
